.mt-search {
  margin-top: 29px !important;
  margin-bottom: 5px;
}
label {
  font-size: 15px;
  display: inline-block;
  margin: 6px 0;
}
.w-84 {
  width: 84px;
}
.w-184 {
  width: 185px;
}
@media screen and (min-width: 1900px) {
  .md-1 {
    width: 8%;
  }
  .change-margin {
    margin-right: 0;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  height: 30px;
  padding: 2px 5px;
  font-size: 18px;
}
.page-heading {
  font-size: 22px;
}
tr:nth-child(odd) {
  background-color: #f5f5f5;
}
tr.active {
  background: rgba(125, 255, 252, 0.996078431372549);
}
.pagination {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}
.pagination_type1 {
  --paginationPageActiveBgColor: rgba(200, 242, 255, 1);
  --paginationPageTextColor: #74767d;
  --paginationPageActiveTextColor: #000;
}
.pagination_type1 .pagination__number {
  padding: 7px 10px;
}
.pagination__number {
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  color: var(--paginationPageTextColor, inherit);
  font-size: 16px;
  font-weight: 600;
}
.pagination__control_prev {
  margin-left: var(--paginationArrowIndent, 4px);
}
.pagination_type1 .pagination__number_active {
  background-color: var(--paginationPageActiveBgColor);
  color: var(--paginationPageActiveTextColor);
}
.select-box {
  padding: 0 5px;
  width: 86px;
  height: 24px;
  margin: 0 5px;
}

.box-internal {
  border: 1px solid #afb2bd;
}
.md-box {
  margin-top: 5.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.md-box li {
  border-bottom: 1px solid #afb2bd;
  padding: 6px 4px;
}
