<nav class="navbar navbar-expand navbar-light bg-white topbar fixed-top shadow">
    <h2
      class="
        d-none d-sm-inline-block
        form-inline
        ml-md-3
        text-primary text-uppercase
      "
    >
    </h2>
    

    <button
      class="profile-btn w-auto bg-transparent border-0"
      
      aria-label="Example icon-button with a menu"
    >
      <img
        class="rounded-circle"
        undraw_posting_photo.svg
        src="/assets/images/undraw_profile.svg"
        alt="..."
      />
      <!--{{ username }} -->
    </button>
    
      <button >
       
        <span>Profile</span>
      </button>
      <button (click)="onLogOut()">
        
        <span>Logout</span>
      </button>
   
  </nav>
  