.environment h3 {
  font-size: 26px;
}
.w-33 {
  width: 33.33%;
}
.text-center {
  text-align: center;
}
.float-right {
  float: right;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.fw-600 {
  font-weight: 600;
}
/* img {
      width: 40px;
    } */ ;
